{% block content %}
  <text-component v-slot="{ isVisible, toggle }">
    <div class="m-text">
      <button type="button" @click="toggle()">Toggle text</button>
      <div :key="isVisible" v-show="isVisible" style="display: none;">
        {% include '@components/text/text.twig' with {'text': data.fieldText.processed} %}
      </div>
    </div>
  </text-component>
{% endblock %}
