/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

.l-columns--twocol-33-66 > .l-column + .l-column {
  margin-top: 1.75rem;
}

/* Print */
@media print, (min-width: 64em) {
  .l-columns--twocol-33-66 {
    display: flex;
    flex-wrap: wrap;
    margin: -0.4375rem;
  }

  .l-columns--twocol-33-66 > .l-column {
    padding: 0.4375rem;
    min-width: 0;
  }

  .l-columns--twocol-33-66 > .l-column--first {
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3); /* IE */
  }

  .l-columns--twocol-33-66 > .l-column--second {
    flex-basis: calc(100% / 3 * 2);
    max-width: calc(100% / 3 * 2); /* IE */
  }

  .l-columns--twocol-33-66 > .l-column + .l-column {
    margin-top: 0;
  }
}
