/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

.l-columns--twocol-50 > .l-column + .l-column {
  margin-top: 1.75rem;
}

/* Print */
@media print, (min-width: 64em) {
  .l-columns--twocol-50 {
    display: flex;
    flex-wrap: wrap;
    margin: -0.4375rem;
  }

  .l-columns--twocol-50 > .l-column {
    flex-basis: 50%;
    max-width: 50%; /* IE */
    padding: 0.4375rem;
    min-width: 0;
  }

  .l-columns--twocol-50 > .l-column + .l-column {
    margin-top: 0;
  }
}
