/* ==|====================
  Settings / General Vars
  ======================= */

//== Base
//
$font: Roboto, BlinkMacSystemFont, -apple-system, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size-base: 20px;
$fontSerif: Roboto Slab, serif;

//== Default Colors
//
@import "_colors.json";

//== Layout
//
$max-container-width: 1268px;

//== Grid
//
$gridColumns: 12;
$gridGutter: 20px;

//== Gutters
//
$gutter-zero: 8;
$gutter-micro: 16;
$gutter-small: 24;
$gutter-neutral: 32;
$gutter-medium: 40;
$gutter-big: 48;
$gutter-great: 64;
$gutter-large: 80;
$gutter-wide: 96;
$gutter-ultra: 120;
$gutter-huge: 144;

//== Offsets
//
$offset-basic: 14;
$offset-small: 28;
$offset-medium: 42;
$offset-medium-large: 72;
$offset-large: 84;
$offset-very-large: 98;

//== Breakpoints
//
@import "_breakpoints.json";

//== Transitions
//
@import "_animations.json";

$transition-time-default: #{map-get(map-get($animations, duration), default)}ms;
$transition-time-fancy: #{map-get(map-get($animations, duration), fancy)}ms;

$basic-easing: cubic-bezier(.455, .03, .515, .955);
$fancy-easing: cubic-bezier(.19, 1, .22, 1);

$basic-transition: $transition-time-default $basic-easing;
$fancy-transition: $transition-time-fancy $fancy-easing;

//== z-indices
//
$z-indices: (
  header: 100
);
