$sprites: (
    'arrow-down-circle-filled': "/themes/frontend/dist/sprites/sprite.svg#arrow-down-circle-filled-view",
    'arrow-down-circle': "/themes/frontend/dist/sprites/sprite.svg#arrow-down-circle-view",
    'arrow-down-small': "/themes/frontend/dist/sprites/sprite.svg#arrow-down-small-view",
    'arrow-down': "/themes/frontend/dist/sprites/sprite.svg#arrow-down-view",
    'arrow-right-circle': "/themes/frontend/dist/sprites/sprite.svg#arrow-right-circle-view",
    'arrow-right-exit': "/themes/frontend/dist/sprites/sprite.svg#arrow-right-exit-view",
    'arrow-right-small': "/themes/frontend/dist/sprites/sprite.svg#arrow-right-small-view",
    'arrow-right': "/themes/frontend/dist/sprites/sprite.svg#arrow-right-view",
    'arrow-up-circle': "/themes/frontend/dist/sprites/sprite.svg#arrow-up-circle-view",
    'arrow-up': "/themes/frontend/dist/sprites/sprite.svg#arrow-up-view",
    'calendar': "/themes/frontend/dist/sprites/sprite.svg#calendar-view",
    'close': "/themes/frontend/dist/sprites/sprite.svg#close-view",
    'download': "/themes/frontend/dist/sprites/sprite.svg#download-view",
    'home': "/themes/frontend/dist/sprites/sprite.svg#home-view",
    'info': "/themes/frontend/dist/sprites/sprite.svg#info-view",
    'mail': "/themes/frontend/dist/sprites/sprite.svg#mail-view",
    'marker': "/themes/frontend/dist/sprites/sprite.svg#marker-view",
    'menu': "/themes/frontend/dist/sprites/sprite.svg#menu-view",
    'minus': "/themes/frontend/dist/sprites/sprite.svg#minus-view",
    'person': "/themes/frontend/dist/sprites/sprite.svg#person-view",
    'phone-mobile': "/themes/frontend/dist/sprites/sprite.svg#phone-mobile-view",
    'phone': "/themes/frontend/dist/sprites/sprite.svg#phone-view",
    'plus': "/themes/frontend/dist/sprites/sprite.svg#plus-view",
    'search': "/themes/frontend/dist/sprites/sprite.svg#search-view",
    'send': "/themes/frontend/dist/sprites/sprite.svg#send-view"
);

$sizes: (
    'arrow-down-circle-filled': (
        'width': 24px,
        'height': 24px
    ),
    'arrow-down-circle': (
        'width': 24px,
        'height': 24px
    ),
    'arrow-down-small': (
        'width': 24px,
        'height': 24px
    ),
    'arrow-down': (
        'width': 24px,
        'height': 24px
    ),
    'arrow-right-circle': (
        'width': 24px,
        'height': 24px
    ),
    'arrow-right-exit': (
        'width': 24px,
        'height': 24px
    ),
    'arrow-right-small': (
        'width': 24px,
        'height': 24px
    ),
    'arrow-right': (
        'width': 24px,
        'height': 24px
    ),
    'arrow-up-circle': (
        'width': 24px,
        'height': 24px
    ),
    'arrow-up': (
        'width': 24px,
        'height': 24px
    ),
    'calendar': (
        'width': 24px,
        'height': 24px
    ),
    'close': (
        'width': 24px,
        'height': 24px
    ),
    'download': (
        'width': 24px,
        'height': 24px
    ),
    'home': (
        'width': 24px,
        'height': 24px
    ),
    'info': (
        'width': 24px,
        'height': 24px
    ),
    'mail': (
        'width': 24px,
        'height': 24px
    ),
    'marker': (
        'width': 24px,
        'height': 24px
    ),
    'menu': (
        'width': 56px,
        'height': 56px
    ),
    'minus': (
        'width': 24px,
        'height': 24px
    ),
    'person': (
        'width': 24px,
        'height': 24px
    ),
    'phone-mobile': (
        'width': 24px,
        'height': 24px
    ),
    'phone': (
        'width': 24px,
        'height': 24px
    ),
    'plus': (
        'width': 24px,
        'height': 24px
    ),
    'search': (
        'width': 24px,
        'height': 24px
    ),
    'send': (
        'width': 24px,
        'height': 24px
    )
);

$variables: (
    /* EMPTY */
);

// https://github.com/waldemarfm/sass-svg-uri/blob/v1.0.0/_svg-uri.scss
@function sprite-str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if type-of($replace) == 'null' {
        $replace: '';
    }

    @if ( $index ) {
        @return str-slice($string, 1, $index - 1) + $replace + sprite-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function sprite-svg-uri($value) {
    $encoded: '';
    $slice: 2000;
    $index: 0;

    @for $i from 1 through ceil(str-length($value) / $slice) {
        $chunk: str-slice($value, $index, $index + $slice - 1);
        $chunk: sprite-str-replace($chunk, '"', "'");
        $chunk: sprite-str-replace($chunk, '<', '%3C');
        $chunk: sprite-str-replace($chunk, '>', '%3E');
        $chunk: sprite-str-replace($chunk, '&', '%26');
        $chunk: sprite-str-replace($chunk, '#', '%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return $encoded;
}

@mixin sprite($name, $user-variables: (), $include-size: false) {
    $sprite: map-get($sprites, $name);

    // Inject variables
    $default-variables: map-get($variables, $name);
    @if type-of($default-variables) == 'map' {
        @each $key, $value in map-merge($default-variables, $user-variables) {
            @if ( not map-has-key($default-variables, $key) ) {
                @warn 'Sprite \'#{$name}\' does not support variable named \'#{$key}\'';
            }

            $sprite: sprite-str-replace($sprite, '___#{$key}___', sprite-svg-uri(quote(#{$value})));
        }
    } @else if type-of($user-variables) == 'map' {
        @warn 'Sprite \'#{$name}\' does not contain any variables';
    }

    background: url($sprite) center no-repeat;

    @if $include-size {
        $size: map-get($sizes, $name);
        @if $include-size == true {
            background-size: map-get($size, width) map-get($size, height);
        } @else if $include-size == 'box' {
            width: map-get($size, width);
            height: map-get($size, height);
        }
    }
}
